@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Arvo'), url(/fonts/arvo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body {
    font-family: 'Arvo';
    margin: 0;
    padding: 0;
    background: gray;
    color: white;
    font-size: 8px;
}
.iconContent, .container, .iconContent .fl, .topContent, .iconContent .fl .text {
    display: block;
    overflow: hidden;
}
.iconContent, .container {
    width: 128px;
}
.iconContent .fl {
    float: left;
}
.container {
    height: 128px;
    background: black;
}
.topContent {
    height: 32px;
}
.iconContent {
    height: 18px;
}
/* .line {
    fill: none;
    stroke-width: 0px;
} */
.area.upload {
    fill: rgba(255, 242, 198, 0.5);
}
.area.download {
    fill: rgba(179, 255, 255, 0.5);
}
.line.upload {
    stroke: rgba(255, 234, 161);
}
.line.download {
    stroke: rgba(179, 245, 245);
}
.axis text {
    color: white;
    font-size: 6px;
    font-family: 'Arvo';
}
.axis.upload text{
    fill: rgba(255, 234, 161);
}

.axis.download text{
    fill: rgba(179, 245, 245);
}
.axis .domain, .axis line {
    stroke:white;
}
.axis.upload .domain, .axis.upload line {
    stroke:rgba(255, 234, 161);
}
.axis.download .domain, .axis.download line {
    stroke:rgba(179, 245, 245);
}
.iconContent .fl {
    height: 18px;
    padding: 0 0 0 18px;
}
.iconContent .fl .text {
    padding-top: 4px;
}
.iconContent .fl.net.off {
    background: url('/icons/signal-cellular/off.png') no-repeat top left;
}
.iconContent .fl.net.on.bar0 {
    background: url('/icons/signal-cellular/0.png') no-repeat top left;
}
.iconContent .fl.net.on.bar1 {
    background: url('/icons/signal-cellular/1.png') no-repeat top left;
}
.iconContent .fl.net.on.bar2 {
    background: url('/icons/signal-cellular/2.png') no-repeat top left;
}
.iconContent .fl.net.on.bar3 {
    background: url('/icons/signal-cellular/3.png') no-repeat top left;
}
.iconContent .fl.net.on.bar4 {
    background: url('/icons/signal-cellular/4.png') no-repeat top left;
}
.iconContent .fl.vpn.on {
    background: url('/icons/vpn/on.png') no-repeat top left;
}
.iconContent .fl.vpn.off {
    background: url('/icons/vpn/off.png') no-repeat top left;
}
.iconContent .fl.ping {
    background: url('/icons/ping.png') no-repeat top left;
}
.iconContent .fl.traffic-used {
    background: url('/icons/traffic-used.png') no-repeat top left;
}