[Unit]
Description=Enter PIN code
After=network-online.target

[Service]
Type=oneshot

ExecStart=/usr/bin/gsmModemStatus.sh

[Install]
WantedBy=default.target
