[Unit]
Description=Get and push statuses
After=network-online.target

[Service]
OnBootSec=5min
OnCalendar=*:0/5

ExecStart=/usr/bin/router-rpi-4g-status.sh

[Install]
WantedBy=timers.target
