[Unit]
Description=Enter PIN code
After=network-online.target

[Service]
Type=oneshot

ExecStart=/usr/bin/router-rpi-4g-connect.sh

[Install]
WantedBy=default.target
